.login {
    height: 70vh;
    width:  70vh;
    display: flex;
    border-radius: 30px;
    background-color: magenta;
    border : 5px solid greenyellow;
    margin: 70px;
    align-items: center;
    justify-content: center;
}
html {
    background-color: black; 
}
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 12px;
}
